.bg-marino {
    background-color: rgb(8, 36, 90);
	color: white;
}

.bg-oro {
    background-color: rgb(189, 149, 0);
}

.txt-oro{
    color: rgb(189, 149, 0);
}

.txt-marino{
    color: rgb(8, 36, 90);
}

